<div style="position:relative; top:45px; margin-top:-45px; width:100px">
    @if (OnClose != null)
    {
        <MudTooltip Text="Close Console">
            <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Close"  OnClick="@OnClose"/>
        </MudTooltip>
    }
    <MudTooltip Text="Refresh Console">
        <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Cached"  OnClick="@ReloadIFrame"/>
    </MudTooltip>
</div>
@if (!ShareSource)
{
    <div style="position:absolute; right:0px; width:175px">
        <MudButton FullWidth="true" Style="height:50px" Href="https://replit.com/" Target="_blank" />
    </div>
}

<iframe id="@Path" style="min-height:@ResizeHeight; overflow:auto" frameborder="0" src="@Url" onload="@ResizeFrame"></iframe>