@inherits CaptainCoder.ReplIt
<div style="position:absolute;">
    @if (OnClose != null)
    {
        <MudTooltip Text="Close Console">
            <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Close"  OnClick="@OnClose"/>
        </MudTooltip>
    }
    <MudTooltip Text="Refresh Console">
        <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Cached"  OnClick="@ReloadIFrame"/>
    </MudTooltip>
</div>
<iframe id="@Path" frameborder="0" src="@Url"></iframe>