
<MudDrawer @bind-Open="@Main.IsNavMenuOpen" Elevation="25" Variant="@DrawerVariant.Persistent" Style="position:fixed">
    <MudElement Style="height:calc(100vh - 90px); overflow:scroll; overflow-y:auto">
        <MudDrawerHeader Class="pr-4">

            <MudElement Class="d-flex flex-row justify-space-between" Style="width:100%">
                <MudText Typo="Typo.h6">
                    <a href="">Intro To C#</a>
                </MudText>
                <MudIconButton Class="pa-0" Icon="@Icons.Material.Outlined.ArrowCircleLeft" Color="Color.Inherit" OnClick="@Main.ToggleNavMenu"/>
            </MudElement>
        </MudDrawerHeader>
        <MudNavMenu Bordered="true">
            <MudNavGroup Title="Getting Started">
                <MudNavLink Href="">Introduction</MudNavLink>
                <MudNavLink Href="@VSCode.Href">Visual Studio Code</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="Activities">
                <MudNavLink Href="activities/console-basics">Console Basics</MudNavLink>
                <MudNavLink Href="activities/two-truths-and-a-lie">Two Truths and a Lie</MudNavLink>
                <MudNavLink Href="activities/mad-takes">Mad Takes</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="Lessons">
                <MudNavGroup Title="Variables">
                    <MudNavLink Href="@Variables.Href">The Basics</MudNavLink>
                    <MudNavLink Href="@BasicDataTypes.Href">Basic Data Types</MudNavLink>
                    <MudNavLink Href="/not-implemented">Other Types</MudNavLink>
                    <MudNavLink Href="@TheTypeSystem.Href">C# Type System</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Collections">
                    <MudNavLink Href="@Arrays.Href">Arrays</MudNavLink>
                    <MudNavLink Href="/not-implemented">Lists</MudNavLink>
                    <MudNavLink Href="/not-implemented">Dictionaries</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Control Flow">
                    <MudNavLink Href="/not-implemented">Switch Statements</MudNavLink>
                    <MudNavLink Href="/not-implemented">Loops</MudNavLink>
                    <MudNavLink Href="/not-implemented">Methods</MudNavLink>
                    <MudNavLink Href="/not-implemented">Switch Statements</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Object Oriented Programming">
                    <MudNavLink Href="/not-implemented">Classes</MudNavLink>
                    <MudNavLink Href="/not-implemented">Inheritance</MudNavLink>
                    <MudNavLink Href="/not-implemented">Polymorphism</MudNavLink>
                    <MudNavLink Href="/not-implemented">Interfaces</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Advanced C#">
                    <MudNavLink Href="/not-implemented">Events</MudNavLink>
                    <MudNavLink Href="/not-implemented">Lambda Expresions</MudNavLink>
                    <MudNavLink Href="/not-implemented">File Management</MudNavLink>
                </MudNavGroup>            
            </MudNavGroup>
            
            <MudNavGroup Title="Examples">
                <MudNavLink Href="examples/read-input" >Read Input</MudNavLink>
                <MudNavLink Href="examples/display-options">Display Options</MudNavLink>
                <MudNavLink Href="examples/random-dog-generator">Random Dog Generator</MudNavLink>
                <MudNavLink Href="examples/association-list">Association List</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Challenges">
                <MudNavLink Href="/not-implemented" >Time Attack</MudNavLink>
                <MudNavLink Href="/not-implemented">Complex Problems</MudNavLink>
                <MudNavLink Href="/not-implemented">Efficient Code</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Journal">
                <MudNavLink Href="/not-implemented" >Map</MudNavLink>
                <MudNavLink Href="/not-implemented">Quests</MudNavLink>
                <MudNavLink Href="/not-implemented">Character Stats</MudNavLink>
                <MudNavLink Href="/not-implemented">Leveling</MudNavLink>
                <MudNavLink Href="/not-implemented">Achievement Log</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Social">
                <MudNavLink Href="/not-implemented" >Discord</MudNavLink>
                <MudNavLink Href="/not-implemented" >Support</MudNavLink>
                <MudNavLink Href="/not-implemented" >Helpful Links</MudNavLink>
            </MudNavGroup>
            
        </MudNavMenu>
    </MudElement>

    <!-- Inventory Button -->
    <MudElement Style="flex: 0 1">
        <MudElement Style="display:flex; flex-direction:column">
            <MudButton Style="margin-top:auto" Class="object-bottom" Variant="Variant.Filled"
                StartIcon="@Icons.Filled.Inventory" Color="Color.Primary" Href="/inventory">Inventory</MudButton>
        </MudElement>
    </MudElement>
</MudDrawer>

@code
{
    [Parameter, EditorRequired]
    public MainLayout Main { get; set; } = null!;
}