@inherits CaptainCoder.Page
@page "/"

<Title>Intro to Coding in C#</Title>
<Section Title="Overview">
    <Text>
        Welcome to Intro to Coding in C#! This site is designed to be a non-linear
        interactive text book where you can track your progress, complete activities,
        and grow as a programmer. Please note, this book is still a work in progress
        but I hope you will find it useful.
    </Text>
</Section>
<Section Title="The Journey">
    <Text>
        Learning to program is a personal journey. I do not believe there is a
        one size fits all path for becoming a programmer. In fact, in the
        beginning there are so many options it can be overwhelming and easy to
        get lost. To help guide you on your journey, this book comes equipped
        with an <b>Adventure Mode</b> which attempts to reduce the amount of
        options available to you as you start aswell as create a personalized,
        non-linear path just for you.
    </Text>
    <Text>
        Although you can learn and grow from this book without an account, you
        will not be able to use the <b>Adventure Mode</b> feature.
        When activated, this book will remember which activities and lessons
        you have discovered, your answers to questions, your completed tasks,
        the amount of gold and experience you have acquired, and the items
        you have collected on your journey!
    </Text>
    <Text>
        The first time you login, <b>Adventure Mode</b> will activate and hide
        most of the content from the navigation menu. This is because you have
        not yet discovered those lessons and activities. As you continue your
        journey, your navigation menu will grow. Think of this as a "<b>Fast Travel</b>"
        option in a video game that allows you to quickly travel between locations
        you have previously visited.
    </Text>
</Section>
<Section Title="What's Next?">

    <Adventure Portrait="@Portraits.CaptainCoder">
        <Item>
            <AdventureDialog Page="@VSCode.PageRef">
                <MudText>
                    Greetings adventurer! I'm <b>Captain Coder</b>. Before you can start coding
                    you'll want to set up a development environment. If you're just
                    starting out, I recommend using <b>Visual Studio Code</b>. If you
                    need help setting it up, take a look at the <b>Visual Studio Code</b>
                    section.
                </MudText>
            </AdventureDialog>
        </Item>
        <Item>
            <AdventureDialog Page="@ConsoleProject.PageRef">
                <MudText>
                    If you already have VS Code set up and you want to learn how to
                    create a C# console project, why not take a shot at the
                    <b>@ConsoleProject.PageRef.Name</b> lesson?
                </MudText>
            </AdventureDialog>
        </Item>
        <Item>
            <AdventureDialog Page="@AsciiArt.PageRef">
                <MudText>
                    If you already know how to create a project, you might enjoy
                    this activity on creating colorful art in the terminal.
                </MudText>
            </AdventureDialog>
        </Item>
        <Item>
            <AdventureDialog Page="@BookFeatures.PageRef">
                <MudText>
                    If you're not feeling like programming just yet
                    and you want to know more about the features in this book
                    head over to the <b>Book Features</b> section.
                </MudText>
            </AdventureDialog>
        </Item>
    </Adventure>
</Section>

@code {
    public static readonly PageRef PageRef = new PageRef("Introduction", "/", 0, "Getting Started", false);
}