@using IntroToCSharp.Shared.Components.ReplIt

<MudPaper MaxHeight="@MaxHeight" Class="d-flex flex-column flex-0 gap-1 my-2">
    <div id="@($"{ID}-raw")" style="display:none">@ChildContent</div>
    <MudPaper Style="overflow:auto;">
        <pre class="@GetAllowCopy()">
            <code id="@ID" class="language-@Language code-block"></code>
        </pre>
    </MudPaper>
    @if (ReplIt != null || VSCode)
    {
        
        <MudGrid Class="ma-2" Spacing=4>
            @if (VSCode) {
                <MudButton Color="Color.Tertiary" Class="mr-4" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Code" Href="@_VSCodeLink" >Open in VS Code</MudButton>
            }
            @if (ReplIt != null) {
                <MudButton Color="Color.Tertiary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PlayCircle" OnClick="@(() => IsReplItOpen = !IsReplItOpen)" >Run Code</MudButton>
            }
        </MudGrid>
        if (IsReplItOpen)
        {
            <MudPaper Style="@ReplItStyle" >
                <ReplIt Path="@ReplIt" ShareSource="@AllowCopy" OnClose="@(() => IsReplItOpen = !IsReplItOpen)"/>
            </MudPaper>
        }
    }

</MudPaper>
